<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
          integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
            integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<h1>Home Page</h1>
<p th:text="${data}"></p>
<a th:href="@{/events}" class="ui blue button">List Events</a>
<a th:href="@{/tasks}" class="ui orange button">Tekton tasks</a>

<div class="ui grid">
    <div class="three column row">
        <div class="column"></div>
        <div class="column">
            <form action="#" th:action="@{/}" th:object="${deploy}" method="POST" class="ui form">
                <div class="field">
                    <label>Enter deployment name: </label>
                    <input type="text" th:field="*{name}"/>
                </div>

                <div class="field">
                    <label>Specify namespace: </label>
                    <select th:field="*{namespace}">
                        <option th:each="n: ${namespaces}" th:value="${n}" th:text="${n}"/>
                    </select>
                </div>

                <div class="field">
                    <label>Select deployment image</label>
                    <input type="text" th:field="*{image}"/>
                </div>

                <div class="field">
                    <label>Specify the replicas count</label>
                    <input type="number" th:field="*{replicas}">
                </div>

                <div class="field">
                    <label>Specify the port</label>
                    <input type="number" th:field="*{port}">
                </div>

                <div class="field">
                    <button type="submit" class="ui olive button"><i class="pencil alternate icon"></i>Create Deployment
                    </button>
                </div>
            </form>
        </div>
        <div class="column"></div>
    </div>
</div>

<table class="ui celled striped table" style="text-align: center">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="deployment, i: ${deploys}">
        <td th:text="${i.count}"></td>
        <td th:text="${deployment.getMetadata().name}"></td>
        <td th:if="${deployment.getStatus().availableReplicas == deployment.getStatus().readyReplicas}">
            <button class="ui green button"><i class="ui check icon"></i></button>
        </td>
        <td th:if="${deployment.getStatus().availableReplicas != deployment.getStatus().readyReplicas}">
            <button class="ui red button"><i class="ui close icon"></i></button>
        </td>
        <td>
            <a class="ui red button" th:href="@{/delete/{name}(name=${deployment.getMetadata().name})}"><i
                    class="ui trash icon"></i></a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>